apps/
infrastructure/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.poetry/
**/node_modules/
**/.next/
dist/
build/
out/
.vercel
*.log
data/
minio-data/
qdrant-data/
postgres-data/
.git
.github
*.tfstate
*.tfstate.*
.terraform.lock.hcl
